{% extends "base.html" %}
{% load static %}


{% block title %}Profile{% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'CSS/profile.css' %}">


<body>
    <div class="container ">
        <div class="row justify-content-center">
          

            <form class="row g-3">

                <div>
                  <img src="{% static 'images/no-profile.png' %}"
                      class="rounded mx-auto d-block profile-image" alt="profile">
                </div>


                <div class="col-md-4">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstname">
                </div>
                <div class="col-md-4">
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" class="form-control" id="lastname">
                </div>
                <div class="col-md-4">
                  <label for="username" class="form-label">Username</label>
                  <input type="text" class="form-control" id="username">
                </div>
                <div class="col-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="col-12">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter Password">
                </div>
                <div class="col-12">
                    <label for="password" class="form-label">Submit Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Submit Password">
                  </div>
                <div class="col-12">
                      <h2 class="slider">Age: <span class="slider-age" id="value3"></span></h2>
                    <label for="customRange3" class="form-label">Chose your age</label>
                    <input type="range" class="form-range slider-range" value="10" min="10" max="80" step="1" id="customRange3">
                </div>
                <div class="col-12">
                      <h2 class="slider">Weight:
                        <span class="slider-weight"><span id="value4"></span> Kg.</span>
                      </h2>
                    <label for="customRange4" class="form-label">Chose your weight</label>
                    <input type="range" class="form-range slider-range" value="10" min="10" max="200" step="1" id="customRange4">
                </div>

            </form>         
    </div>

  <script src="{% static './JS/slider.js' %}"></script>
</body>  
  

{% endblock %}