/* .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 50% !important;
    height: auto !important;
}

@media (max-width: 500px) {
    .chart-container {
        width: 900px;
    }
} */

#myChart {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 576px) {
  #myChart {
    max-width: 100vw;
  }
}