.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 30%;
}

.slider {
    display: flex;
    justify-content: center;
    color: #888;
}

.slider-weight {
    margin-left:10px; 
}

.slider-age {
    margin-left:10px; 
}

