.grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: 200px 200px;
    grid-template-columns: 400px 400px 400px;
    gap: 10px;
}

.col1 {
    background-color: blue;
}


.col2 {
    background-color: blue;
}

.col3 {
    background-color: blue;
}

.col4 {
    background-color: blue;
}

.col5 {
    background-color: blue;
}

.col6 {
    background-color: blue;
}

